<nav
  class="h-100 d-flex flex-column p-4"
  [ngStyle]="{ width: isOpendsidebar() ? '250px' : '80px' }"
  style="transition: width 0.3s"
>
  <!-- <div
    class="logo fs-4 fw-bold text-center text-white"
    style="cursor: pointer"
    routerLink="/"
  >
    <span *ngIf="isOpendsidebar()">AdviLaw</span>
    <i *ngIf="!isOpendsidebar()" class="fa-solid fa-scale-balanced"></i>
  </div> -->

  <div
    class="logo fs-4 fw-bold text-center text-white"
    style="cursor: pointer"
    routerLink="/"
  >
    <span *ngIf="isOpendsidebar()">
      <a class="navbar-brand w-100 d-flex justify-content-center" routerLink="/"
        ><img
          class="w-50 object-fit-cover"
          src="assets/images/logos/dark_logo-new.png"
      /></a>
    </span>
    <i *ngIf="!isOpendsidebar()" class="fa-solid fa-scale-balanced"></i>
  </div>
  <hr class="text-white fw-bold" />

  <div
    class="nav flex-column nav-pills gap-2 flex-nowrap overflow-y-auto"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <app-nav-item
      [iconClass]="'fa-chart-simple'"
      [name]="'Analytics'"
      [toLink]="'/dashboard/analytics'"
      [isOpendsidebar]="isOpendsidebar()"
    ></app-nav-item>
    <app-nav-item
      [iconClass]="'fa-user'"
      [name]="profileLabel"
      [toLink]="profileLink"
      [isOpendsidebar]="isOpendsidebar()"
      *ngIf="isProfileAdded"
    ></app-nav-item>

    <app-nav-item
      *ngIf="isAdmin"
      [iconClass]="'fa-user-edit'"
      [name]="'Edit Profile'"
      [toLink]="'/dashboard/admin-dashboard/profile-edit'"
      [isOpendsidebar]="isOpendsidebar()"
    ></app-nav-item>

    <app-nav-item
      [iconClass]="'fa-briefcase'"
      [name]="'Jobs'"
      [toLink]="'/dashboard/jobs'"
      [isOpendsidebar]="isOpendsidebar()"
    ></app-nav-item>
    <app-nav-item
      *ngIf="isLawyer()"
      [iconClass]="'fa-calendar-check'"
      [name]="'Consultations'"
      [toLink]="'/dashboard/consultations'"
      [isOpendsidebar]="isOpendsidebar()"
    ></app-nav-item>

    <app-nav-item
      *ngIf="isLawyer()"
      [iconClass]="'fa-money-check'"
      [name]="'Lawyer Payments'"
      [toLink]="'/dashboard/lawyer-payments'"
      [isOpendsidebar]="isOpendsidebar()"
    ></app-nav-item>

    <app-nav-item
      [iconClass]="'fa-microphone'"
      [name]="'Reviews'"
      [toLink]="'/dashboard/reviews'"
      [isOpendsidebar]="isOpendsidebar()"
    ></app-nav-item>

    <app-nav-item
      *ngIf="isAdmin"
      [iconClass]="'fa-user-clock'"
      [name]="'Pending Lawyers'"
      [toLink]="'/dashboard/admin-dashboard/pending-lawyers'"
      [isOpendsidebar]="isOpendsidebar()"
    ></app-nav-item>
    <app-nav-item
      *ngIf="isAdmin"
      [iconClass]="'fa-user-clock'"
      [name]="'Pending Clients'"
      [toLink]="'/dashboard/admin-dashboard/pending-clients'"
      [isOpendsidebar]="isOpendsidebar()"
    ></app-nav-item>
    <app-nav-item
      *ngIf="isAdmin"
      [iconClass]="'fa-users-cog'"
      [name]="'Admins List'"
      [toLink]="'/dashboard/admin-dashboard/admins-list'"
      [isOpendsidebar]="isOpendsidebar()"
    ></app-nav-item>

    <app-nav-item
      *ngIf="isAdmin"
      [iconClass]="'fa-money-bill-transfer'"
      [name]="'Fund Releases'"
      [toLink]="'/dashboard/admin-dashboard/fund-releases'"
      [isOpendsidebar]="isOpendsidebar()"
    ></app-nav-item>

    <app-nav-item
      *ngIf="isAdmin"
      [iconClass]="'fa-history'"
      [name]="'Session History'"
      [toLink]="'/dashboard/admin-dashboard/session-history'"
      [isOpendsidebar]="isOpendsidebar()"
    ></app-nav-item>
  </div>

  <!-- Toggle Button at Bottom -->
  <button
    class="btn btn-sm btn-light mt-auto"
    (click)="toggleSidebar()"
    style="margin-top: auto"
  >
    <i
      class="fa"
      [ngClass]="{
        'fa-chevron-left': isOpendsidebar(),
        'fa-chevron-right': !isOpendsidebar()
      }"
    ></i>
  </button>
</nav>
