<div class="table-responsive">
  <table
    class="table table-bordered table-hover align-middle"
    *ngIf="data.length > 0; else noData"
  >
    <thead class="table-light">
      <tr>
        <th *ngFor="let col of columns" class="text-capitalize text-center">
          {{ col.label }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of data"
        (click)="goToDetailsPage(item.id)"
        class="clickable-row"
        style="cursor: pointer"
      >
        <td *ngFor="let col of columns" class="text-center">
          <!-- Image column -->
          <ng-container *ngIf="col.type === 'image'; else nonImage">
            <img
              [src]="item[col.key]"
              alt="image"
              class="rounded-circle object-fit-cover"
              style="width: 50px; height: 50px"
            />
          </ng-container>

          <!-- Other columns -->
          <ng-template #nonImage>
            <!-- Boolean -->
            <ng-container *ngIf="col.type === 'boolean'; else nonBoolean">
              <span
                class="badge"
                [ngClass]="item[col.key] ? 'bg-success' : 'bg-danger'"
              >
                {{ item[col.key] ? "Yes" : "No" }}
              </span>
            </ng-container>

            <!-- Link (text only, row is now clickable) -->
            <ng-template #nonBoolean>
              {{ item[col.key] }}
            </ng-template>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <p class="text-center my-3 fw-semibold">No data available.</p>
</ng-template>
