<div class="container mt-5">
  <div class="row min-vh-100">
    <!-- Left Side Image and Overlay -->
    <div class="col-md-5 position-relative d-none d-md-block p-0">
      <img src="assets/images/lawyer-professional.jpg" alt="Legal System"
        class="auth-image w-100 h-100 object-fit-cover" />
      <div
        class="auth-overlay position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center text-white text-center px-4"
        style="background: rgba(0, 0, 0, 0.6);">
        <h2 class="fw-bold">Advance Your Legal Career</h2>
        <p>Join our exclusive network of legal professionals</p>
      </div>
    </div>

    <!-- Right Side Registration Form -->
    <div class="col-md-7 d-flex align-items-center py-5">
      <div class="w-100 px-3 px-md-5" style="max-width: 650px;">

        <h2 class="text-center mb-3  fw-bold" style="color: var(--color-navy-blue);">Lawyer Registration</h2>
        @if(messError)
        {

        <p class="text-center mb-4 text-danger fw-5 fs-3">*** {{messError}} ***</p>

        }
        <p class="text-center mb-4 text-secondary">Create your professional account</p>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row g-3">

            <!-- Account Info -->
            <div class="col-12">
              <h5 class="text-warning fw-semibold ">Account Information</h5>
              <hr>
            </div>
            <!-- Email  -->
            <div class="col-md-6">
              <label class="form-label">Email Address</label>
              <input [ngClass]="{
                'is-valid': !registerForm.get('email')?.errors  && (registerForm.get('email')?.touched
                ||registerForm.get('email')?.dirty ),
                'is-invalid': registerForm.get('email')?.errors  && (registerForm.get('email')?.touched
                ||registerForm.get('email')?.dirty )
              }" formControlName="email" type="email" class="form-control">
            </div>
            <!-- Password  -->
            <div class="col-md-6">
              <label class="form-label">Password</label>
              <div class="position-relative">
                <input [ngClass]="{
                  'is-valid': !registerForm.get('password')?.errors  && (registerForm.get('password')?.touched
                  ||registerForm.get('password')?.dirty ),
                  'is-invalid': registerForm.get('password')?.errors  && (registerForm.get('password')?.touched
                  ||registerForm.get('password')?.dirty )
                }" formControlName="password" [type]="passwordVisible ? 'text' : 'password'" class="form-control">
                <button type="button" class="btn btn-sm btn-outline-secondary position-absolute end-0 top-0 mt-1 me-2"
                  (click)="togglePasswordVisibility()">
                  {{ passwordVisible ? 'Hide' : 'Show' }}
                </button>
              </div>
            </div>

            <!-- Email Validation -->
            @if(registerForm.get('email')?.errors && (registerForm.get('email')?.touched
            ||registerForm.get('email')?.dirty ))
            {
            @if(registerForm.get('email')?.getError('required'))
            {
            <p class="text-danger mb-0">** Email is required</p>
            }
            @if(registerForm.get('email')?.getError('email'))
            {
            <p class="text-danger mb-0 mt-0">** Invalid email format</p>
            }
            }

            <!-- Password Validation-->
            @if(registerForm.get('password')?.errors && registerForm.get('password')?.touched)
            {
            @if(registerForm.get('password')?.getError('required'))
            {
            <p class="text-danger mb-0 mt-0">** Password is required</p>
            }
            @if(registerForm.get('password')?.getError('minlength'))
            {
            <p class="text-danger mb-0 mt-0">** Password must contain at least 6 characters</p>
            }
            @if(registerForm.get('password')?.getError('pattern'))
            {
            <p class="text-danger mb-0 mt-0">
              ** Password must include uppercase, number, and special character (!?*.) </p>
            }
            }
            <!-- Username -->
            <div class="col-md-6">
              <label class="form-label">Username</label>
              <input [ngClass]="{
                'is-valid': !registerForm.get('userName')?.errors  && (registerForm.get('userName')?.touched
                ||registerForm.get('userName')?.dirty ),
                'is-invalid': registerForm.get('userName')?.errors  && (registerForm.get('userName')?.touched
                ||registerForm.get('userName')?.dirty )
              }" formControlName="userName" type="text" class="form-control">
            </div>
            <!-- Gender -->
            <div class="col-md-6">
              <label class="form-label">Gender</label>
              <select formControlName="gender" class="form-select">
                <option value="" disabled selected>Select Gender</option>
                <option value="0">Male</option>
                <option value="1">Female</option>

              </select>
            </div>

            <!-- Gender Validation -->
            @if(registerForm.get('gender')?.errors && registerForm.get('gender')?.touched)
            {
            @if(registerForm.get('gender')?.getError('required'))
            {
            <p class="text-danger mt-0 mb-0">** Gender is required</p>
            }
            }



            <!-- Username Validation -->
            @if(registerForm.get('userName')?.errors && (registerForm.get('userName')?.touched
            ||registerForm.get('userName')?.dirty ))
            {
            @if(registerForm.get('userName')?.getError('required'))
            {
            <p class="text-danger mb-0 mt-0">** Username is required</p>
            }
            @if(registerForm.get('userName')?.getError('minlength'))
            {
            <p class="text-danger mb-0 mt-0">** Username must be at least 8 characters</p>
            }
            @if(registerForm.get('userName')?.getError('maxlength'))
            {
            <p class="text-danger mb-0 mt-0">** Username must not exceed 20 characters</p>
            }
            }
            <!-- Specializations -->
            <div class="col-md-12">
              <label class="form-label">Specializations</label>
              <select formControlName="FieldIds" class="form-select">
                <option value="" disabled selected>Select Specializations</option>
                <option value="1">Criminal Law</option>
                <option value="2">Family Law</option>
                <option value="3">Tax Law</option>
                <option value="4">Civil Law</option>

              </select>
            </div>


            <!-- Specializations Validation -->
            @if(registerForm.get('FieldIds')?.errors && registerForm.get('FieldIds')?.touched)
            {
            @if(registerForm.get('FieldIds')?.getError('required'))
            {
            <p class="text-danger mt-0 mb-0">** specializations is required</p>
            }
            }



            <!-- Location -->
            <div class="col-12 pt-3">
              <h5 class="text-warning fw-semibold">Location</h5>
              <hr>
            </div>

            <div class="col-md-4">
              <label class="form-label">City</label>
              <input formControlName="city" type="text" class="form-control">
            </div>

            <div class="col-md-4">
              <label class="form-label">Country</label>
              <input formControlName="country" type="text" class="form-control">
            </div>

            <div class="col-md-4">
              <label class="form-label">Postal Code</label>
              <input formControlName="postalCode" type="text" class="form-control">
            </div>




            <!-- City Validation-->
            @if(registerForm.get('city')?.errors && registerForm.get('city')?.touched)
            {
            @if(registerForm.get('city')?.getError('required'))
            {
            <p class="text-danger mb-0 mt-0">** City is required</p>
            }
            }

            <!-- Country Validation -->
            @if(registerForm.get('country')?.errors && registerForm.get('country')?.touched)
            {
            @if(registerForm.get('country')?.getError('required'))
            {
            <p class="text-danger mb-0 mt-0">** Country is required</p>
            }
            }

            <!-- Postal Code Validation -->
            @if(registerForm.get('postalCode')?.errors && registerForm.get('postalCode')?.touched)
            {
            @if(registerForm.get('postalCode')?.getError('required'))
            {
            <p class="text-danger mb-0 mt-0">** Postal code is required</p>
            }
            }







            <!-- Legal Info -->
            <div class="col-12 pt-3">
              <h5 class="text-warning fw-semibold">Legal Identification</h5>
              <hr>
            </div>

            <div class="col-md-6">
              <label class="form-label">National ID</label>
              <input formControlName="NationalityId" type="text" class="form-control">
            </div>

            <div class="col-md-6">
              <label class="form-label">Bar Association Card Number</label>
              <input formControlName="barAssociationCardNumber" type="text" class="form-control">
            </div>


            @if(registerForm.get('NationalityId')?.errors && registerForm.get('NationalityId')?.touched)
            {
            @if(registerForm.get('NationalityId')?.getError('required'))
            {
            <p class="text-danger mb-0 mt-0">** National ID is required</p>
            }

            @if(registerForm.get('NationalityId')?.getError('pattern'))
            {
            <p class="text-danger mb-0 mt-0">** National ID must be exactly 14 digits</p>
            }
            }


            <!-- Bar Association Card Number -->
            @if(registerForm.get('barAssociationCardNumber')?.touched)
            {
            @if(registerForm.get('barAssociationCardNumber')?.getError('required'))
            {
            <p class="text-danger mb-0 mt-0">** Bar card number is required</p>
            }
            @if(registerForm.get('barAssociationCardNumber')?.getError('pattern'))
            {
            <p class="text-danger mb-0 mt-0">** Bar card number must be 5 or 6 digits</p>
            }
            }



            <!-- Group: Legal Documents Upload -->
            <div class="col-12 pt-3">
              <h5 class="text-warning fw-semibold">Upload Legal Documents</h5>
              <hr>
            </div>

            <div class="col-md-6">
              <label class="form-label">National ID Image</label>
              <input (change)="onFileSelected($event, 'NationalIDImage')" formControlName="NationalIDImage" type="file"
                class="form-control" accept="image/*">
            </div>

            <div class="col-md-6">
              <label class="form-label"> Bar Association Card Image</label>
              <input (change)="onFileSelected($event, 'barCardImage')" formControlName="barCardImage" type="file"
                class="form-control" accept="image/*">
            </div>








            <!-- License Image -->
            @if(registerForm.get('NationalIDImage')?.errors && registerForm.get('NationalIDImage')?.touched)
            {
            @if(registerForm.get('NationalIDImage')?.getError('required'))
            {
            <p class="text-danger">** Lawyer license image is required</p>
            }
            }

            <!-- Bar Card Image -->
            @if(registerForm.get('barCardImage')?.errors && registerForm.get('barCardImage')?.touched)
            {
            @if(registerForm.get('barCardImage')?.getError('required'))
            {
            <p class="text-danger">** Bar card image is required</p>
            }
            }

            <!-- Profile -->
            <!-- <div class="col-12 pt-3">
              <h5 class="text-primary fw-semibold">Professional Profile</h5>
              <hr>
            </div> -->

            <!-- <div class="col-12">
              <label class="form-label">Profile Header</label>
              <input formControlName="profileHeader" type="text" class="form-control">
            </div> -->
            <!-- Profile Header -->
            <!-- @if(registerForm.get('profileHeader')?.errors && registerForm.get('profileHeader')?.touched)
            {
            @if(registerForm.get('profileHeader')?.getError('required'))
            {
            <p class="text-danger">** Profile header is required</p>

            }
            @if(registerForm.get('profileHeader')?.getError('maxlength'))
            {
            <p class="text-danger">** Profile header cannot exceed 200 characters.</p>

            }
            } -->
            <!-- <div class="col-12">
              <label class="form-label">Professional Bio</label>
              <textarea formControlName="bio" class="form-control" rows="4"></textarea>
            </div> -->
            <!-- Bio -->
            <!-- @if(registerForm.get('bio')?.errors && registerForm.get('bio')?.touched)
            {
            @if(registerForm.get('bio')?.getError('required'))
            {
            <p class="text-danger">** Bio is required</p>
            }
            @if(registerForm.get('bio')?.getError('maxlength'))
            {
            <p class="text-danger">** Bio cannot exceed 1000 characters.</p>
            }
            } -->
            <!-- Terms -->
            <!-- <div class="col-12 pt-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="terms" id="terms">
                <label class="form-check-label" for="terms">
                  I agree to the <a href="#" class="text-decoration-underline">Terms</a> and
                  <a href="#" class="text-decoration-underline">Privacy Policy</a>
                </label>
              </div>
            </div> -->
            <!-- @if(registerForm.get('terms')?.errors && registerForm.get('terms')?.touched)
            {
            @if(registerForm.get('terms')?.getError('required'))
            {
            <p class="text-danger">** You must accept the terms</p>
            }
            } -->
            <!-- Submit -->
            <div class="col-12">
              <button [disabled]="registerForm.invalid" type="submit" class="btn btn-secondary w-100 fw-bold">
                Create Account
                <span *ngIf="islodaing"> <i class="fas fa-spin fa-spinner"></i></span>
              </button>

            </div>
          </div>
        </form>

        <!-- Login Link -->
        <div class="text-center mt-4">
          <p>Already have an account? <a routerLink="/login" class="auth-link">Sign in here</a></p>
        </div>

      </div>
    </div>
  </div>
</div>