<div class="container py-4">
  <div class="create-btn d-flex justify-content-end">
    <a routerLink="/jobs/create" class="btn btn-primary">Create Job</a>
  </div>
  <app-dashboard-table
    [data]="lawyers"
    [columns]="lawyersColumns"
    title="Lawyer Listings"
    url="lawyers"
  ></app-dashboard-table>
  <div class="d-flex justify-content-center align-items-center mt-4">
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChanged)="loadData($event)"
    >
    </app-pagination>
  </div>
</div>
